<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.fpt.voicebot">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="ai.fpt.voicebot.API_KEY"
            android:value="${voiceAPIKey}" />
        <meta-data
            android:name="ai.fpt.voicebot.API_ENDPOINT"
            android:value="${voiceAPIEnPoint}" />
        <meta-data
            android:name="ai.fpt.voicebot.SOCKET_ENDPOINT"
            android:value="${socketEndpoint}" />
        <meta-data
            android:name="ai.fpt.voicebot.BOT_CODE"
            android:value="${botCode}" />
    </application>

</manifest>